/*! Place your custom styles here */
.btn--primary, .btn--primary:visited, .btn--primary-1, .btn--primary-1:visited {
  background: #FFA02F;
  border-color: #FFA02F;
}

.bg--primary, .label:not([class*='bg--']), .bg--primary-1 {
  background: #08c1ee;
}

.bg--primary div:not([class*='feature']) .btn--primary .btn__text, a {
  color: #08c1ee;
}

.btn--primary:hover, .btn--primary:visited:hover, .btn--primary-1:hover, .btn--primary-1:visited {
  background: #E8922B;
}

.bg--primary div:not([class*='feature']) .btn--primary .btn__text:hover, a:hover {
  color: #E8922B;;
}

.m-b-0 {
  margin-bottom: 0;
}
.m-b-2em {
  margin-bottom: 2em;
}

.background-image-holder {
  background-position: 0% 0% !important;
}

@media only screen and (max-width: 1024px) {
  .col-lg-8.padding-mobile-1.5em {
    padding: 3em !important;
  }
}
